<!doctype html>

<html>

<head>
    <title>Train the model</title>
</head>

<body>
    <h1>Upload a picture to train the model!</h1>
    <form method=post enctype=multipart/form-data>
        <div>
            <label>Who is this?</label>
            <input type="text" name="name" />
        </div>
        <div>
            <label>Upload picture</label>
            <input name="file" type="file" />
        </div>
        <div>
            <button type="submit">Upload</button>
        </div>
    </form>
</body>